

<div class="col-md-6 col-md-offset-3">
  <h2>Select Exam</h2>
  <div class="jumbotran">
      <form [formGroup]="IdForm" (ngSubmit)="Submit()">
          <div class="form-group">
              <label for="subject"><b>Subject</b></label><br/>
              <select style="display:list-item" [(ngModel)]="usidobject.sid" formControlName="SId" required> 
                <option  *ngFor="let sub of subject;" value={{sub.SubjectId}}>{{sub.SubjectName}}</option>
            </select>
          </div>
          <br>
          <button class="btn btn-success" type="submit" [disabled]="IdForm.invalid">Start the Exam</button>&nbsp;&nbsp;
      </form>
  </div>
</div>

<div class="col-md-6 col-md-offset-3">
  <h2>Instructions</h2>
  <p>1. In the above drop down menu, Please select a Subject.</p>
   <p>2.As soon as you click on the start the exam, you will be redirected to exam questions. </p> 
   <p>3. Please give your answers carefully, as once you select an option you will be redirected to the next question. There is no option for you to go to the previous question.</p> 
   <p>4. For any given question, it is a compulsory to give answer as, then only you will be redirected to the next question.</p> 
   <p>5. There is no negative marking in the exam.</p> 
   <p>6. After the exam is completed the result page is displayed.</p> 
   <p>7. You have to click on the Submit button to record your result.</p> 
   <p>8. Your report is generated in report section.</p>
  <p>9.You can only proceed to the second level once you cleared the first level.</p>
</div>






