<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h3>Forgot Password</h3>

                <div *ngIf="!isValidEmailId">
                    <div class="form-group">
                        <label>EmailId</label>
                        <input style="width: 220px;" type="text" [(ngModel)]="emailId" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                    </div>

                    <div><small class="text-danger"></small>{{errorMsg}}</div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" (click)="VerifyEmail();">Send OTP</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
