<!--<div class="container">
    <br/>
    <button ><a href="http://localhost:4200/report">Report</a></button><br/>
    <br/>
    <button ><a href="http://localhost:4200/selectexam">New Exam</a></button><br/>
</div>-->


<div>
    <h2 style="text-align:center;" >Welcome to the World of Online Examinations!! </h2> 
    </div>
    
    <div class="wrapper">
        <br/>
        <div class="btn-group" >
        <div class="container">
          <button type="button" class="btn btn-info btn-lg btn-block"><a routerLink="/report">Report</a></button><br/> <br/> <br/>
          <button type="button" class="btn btn-info btn-lg btn-block"><a routerLink="/selectexam">New Exam</a></button><br/>
    </div>
    </div>
    </div>




